<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tao moi thanh pho</title>
</head>
<body>
<h1> tao moi thanh pho</h1>
<p>
    <a href="/danhsachthanhpho">danh sach thanh pho</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/taomoithanhpho}" th:object="${thanhpho}" method="post">
    <table>
        <tr>
            <td> Ten thanh pho:</td>
            <td><input type="text" th:field="*{tenThanhPho}"/></td>
            <td th:if="${#fields.hasErrors('tenThanhPho')}" th:errors="*{tenThanhPho}">Name Error</td>
        </tr>
        <tr>
            <td>Quoc gia:</td>
            <td>
                <select th:field="*{quocGia}">
                    <option th:each="p : ${quocGias}" th:value="${p.id}" th:text="${p.ten}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Dien tich:</td>
            <td><input type="text" th:field="*{dienTich}"/></td>
            <td th:if="${#fields.hasErrors('dienTich')}" th:errors="*{dienTich}">Name Error</td>

        </tr>
        <tr>
            <td>Dan so:</td>
            <td><input type="text" th:field="*{danSo}"/></td>
            <td th:if="${#fields.hasErrors('danSo')}" th:errors="*{danSo}">Name Error</td>

        </tr>
        <tr>
            <td>GDP :</td>
            <td><input type="text" th:field="*{gDP}"/></td>
            <td th:if="${#fields.hasErrors('gDP')}" th:errors="*{gDP}">Name Error</td>

        </tr>
        <tr>
            <td>Mo ta chung :</td>
            <td><textarea th:field="*{mota}"></textarea></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Tao moi"></td>
        </tr>
    </table>
</form>
</body>
</html>